@use './variables' as *;
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

.container {
    max-width: 1760px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1300px;
    margin: 0 auto;

}

h1 {
    font-size: 70px;
    font-family: "Libre Baskerville", serif;

}

h2 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: "Libre Baskerville", serif;
}

h3 {
    font-size: 38px;
    margin-bottom: 10px;
    font-family: "Libre Baskerville", serif;


}

h5 {
    font-size: 20px;
    font-family: "Libre Baskerville", serif;

}

p {
    color: $colorSecondary ;
    line-height: 1.8em;
}

hr {
    width: 70px;
    height: 3px;

    background-color: $accentColor;
}


.arrows {

    width: 100%;
    display: flex;
    justify-content: space-between;

    font-size: 20px;

    span:hover {
        scale: 1.5;
        cursor: pointer;
    }

}

button {
    display: flex;
    padding-block: 10px;
    border: 0;

    text-transform: uppercase;
    font-weight: bold;

    background-color: transparent;
    cursor: pointer;

    span {
        margin-left: 10px;
        opacity: 0;

        transition: opacity 0.3s ease, transform 0.3s ease;


    }

    &:hover {
        span {
            opacity: 1;
            transform: translate(100%);

        }
    }
}

.cta-primary {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-inline: 20px;
    background-color: white;


    div {

        padding: 10px;
        border-right: 1px solid black;

    }

    span {
        margin-left: 10px;
        opacity: 1;

        transition: opacity 0.3s ease, transform 0.3s ease;


    }

    &:hover {

        div {
            border-right: 1px solid transparent;

        }

        span {

            opacity: 0;
            transform: translate(100%);

        }
    }
}

.cta-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    background-color: $accentColor;
    color: white;

    div {
        padding: 10px;
        border-right: 1px solid white;


    }

    span {
        margin-left: 10px;
        opacity: 1;

        transition: opacity 0.3s ease, transform 0.3s ease;


    }

    &:hover {

        div {
            border-right: 1px solid transparent;

        }

        span {

            opacity: 0;
            transform: translate(100%);

        }
    }




}


.social-icons {
    display: flex;
    gap: 10px;

    margin-top: 20px;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        height: 25px;
        aspect-ratio: 1;

        border-radius: 50%;
        color: white;

        &:hover {
            background-color: black;
            cursor: pointer;

        }
    }

}